@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    width: 99%;
    height: 665px;
    background: linear-gradient(45deg, #0a0a0a, #2e343e);
    font-family: 'Poppins', sans-serif;
}

.header-part{
    font-size: 2em;
    color: linear-gradient(45deg, #242424, #566070);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.full-body-parent{
    display: flex;
    justify-content: center;
}
.full-body{
    width: 350px;
    height: 500px;
    background: transparent;
    box-shadow: 0px 3px 20px rgba(71, 73, 75, 0.5);
}
.display-area-parent{
    display: flex;
    justify-content: center;
}
#display-area{
    width: 90%;
    height: 55px;
    padding: 5px 10px;
    margin: 10px 0px;
    font-size: 1.5em;
    font-weight:800;
    border: 0px;
    background: transparent;
    box-shadow: 0px 3px 10px rgba(44, 44, 46, 0.5);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    color: white;
    text-align: right;
}
.buttons-parent{
    padding: 20px 0px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}
.button{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background: transparent;
    box-shadow: -3px 0px 15px rgba(247, 186, 186, 0.1);
    color: white;
    font-size: 20px;
}
.button:hover{
    background-color: #c87b0e;
}
.operator-button{
    color: #6dee0a;
}
.operator-button:hover{
    background-color: rgb(88, 89, 91);
}
.equal-button{
    color: #fb7c14;
}
.equal-button:hover{
    background-color: rgb(88, 89, 91);
}